@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700");
.searchBtn, .selectRoomBtn {
  border-radius: 4px;
  padding: 6px 25px;
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
  text-transform: uppercase;
  outline: none;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(85, 20, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(85, 20, 0, 0.75);
  box-shadow: 1px 2px 5px 0px rgba(85, 20, 0, 0.75); }

.myNewAddCard .cardDetailForm input, .profileSetting input {
  border: 1px solid #6a6a6a;
  border-radius: 0px;
  outline: none;
  font-size: 14px; }

.myNewAddCard .cardDetailForm label, .profileSetting label {
  font-size: 14px;
  margin: 0;
  font-weight: 300; }

.myNewAddCard .cardDetailForm input:focus, .profileSetting input:focus, .wishListRight .wishListRightInfo .nameYourPrice .nameInput input:focus {
  box-shadow: none;
  outline: none;
  border-color: #6a6a6a; }

.filterBg .searchInPut:after, .userIcon:after, .passwordIcon:after, .mailIcon:after, .flightIcon:after, .streetIcon:after, .callIcon:after {
  content: '';
  position: absolute;
  top: 33px;
  left: 4px;
  z-index: 99;
  width: 30px;
  height: 22px; }

.selectDivsAl .DateRangePicker, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker {
  position: absolute;
  top: 51px;
  left: 0;
  display: flex;
  background: #fff;
  padding: 10px 0px;
  border: 1px solid #6a6a6a;
  z-index: 999;
  box-shadow: 3px 1px 4px 0px rgba(144, 144, 144, 0.9);
  -webkit-box-shadow: 3px 1px 4px 0px rgba(144, 144, 144, 0.9);
  -moz-box-shadow: 3px 1px 4px 0px rgba(144, 144, 144, 0.9); }
  .selectDivsAl .DateRangePicker:after, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker:after {
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #d7d7d7;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    left: 25px; }
  .selectDivsAl .DateRangePicker .DateRangePicker__CalendarSelection, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker .DateRangePicker__CalendarSelection {
    background: #fec637;
    border-radius: 0px;
    border: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #464646; }
  .selectDivsAl .DateRangePicker .DateRangePicker__WeekdayHeading, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker .DateRangePicker__WeekdayHeading, .selectDivsAl .DateRangePicker .DateRangePicker__Date, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker .DateRangePicker__Date {
    font-weight: 200; }
  .selectDivsAl .DateRangePicker .DateRangePicker__CalendarHighlight--single, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker .DateRangePicker__CalendarHighlight--single {
    background: #fec637;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0px; }
  .selectDivsAl .DateRangePicker .DateRangePicker__Date--is-selected, .selectRoomBg .selectRoomItemsBg .seleboxs1 .DateRangePicker .DateRangePicker__Date--is-selected {
    color: #464646;
    font-weight: 500; }

.selectRoomBg .selectRoomTitle .selectNewTab {
  background: none;
  border: none;
  outline: none;
  /* float: right; */
  position: absolute;
  right: 5px;
  top: 5px; }
  .selectRoomBg .selectRoomTitle .selectNewTab img {
    width: 15px; }

@font-face {
  font-family: 'Opensan';
  font-weight: normal;
  src: url("../font/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Opensan';
  font-weight: bold;
  src: url("../font/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Opensan';
  font-weight: 300;
  src: url("../font/OpenSans-SemiBold.ttf"); }
@font-face {
  font-family: 'Opensan';
  font-weight: 500;
  src: url("../font/OpenSans-ExtraBold.ttf"); }
@font-face {
  font-family: 'BebasNeue';
  font-weight: normal;
  src: url("../font/BebasNeue-Regular.ttf"); }
@font-face {
  font-family: 'BebasNeue';
  font-weight: 500;
  src: url("../font/BebasNeue-Bold.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: 'Opensan' !important;
  font-weight: normal; }

.navbar-brand {
  padding: 0px !important; }
  .navbar-brand img {
    width: 150px; }

.navbarSearch {
  width: 400px;
  height: 37px;
  padding: 5px;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  margin: auto;
  position: relative; }
  .navbarSearch input {
    width: 100%;
    border: none;
    height: 25px;
    outline: none;
    position: relative; }
  .navbarSearch img {
    width: 29px;
    position: absolute;
    right: 5px; }

.navbar {
  margin-bottom: 0px !important; }

.nav-link {
  color: #4a4a4a;
  font-size: 14px;
  position: relative; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-link {
      font-size: 13px; } }
  .nav-link.rightLine:before {
    content: '';
    border-right: 1px solid #6a6a6a;
    position: absolute;
    width: 1px;
    height: 20px;
    right: 1px; }
  .nav-link .goPro {
    background: #fec637;
    border: 1px solid #916800;
    margin-top: 0px;
    font-weight: 300;
    color: #464646; }

.nav > li > a:focus,
.nav > li > a:hover {
  background: none !important; }

.flimSection {
  width: 100%;
  float: left;
  min-height: 220px;
  background: url("../images/flim.jpg");
  background-size: cover; }

.searchSection {
  width: 100%;
  float: left;
  background-attachment: fixed;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 715px;
  /* height: 100vh; */
  padding-top: 65px;
  position: relative; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .searchSection {
      padding-top: 10px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .res-column {
    flex-direction: column !important; } }
@media only screen and (min-width: 321px) and (max-width: 991px) {
  .res-column {
    flex-direction: column !important; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tab-column {
    flex-direction: column !important; } }
@media only screen and (min-width: 321px) and (max-width: 991px) {
  .tab-column {
    flex-direction: column !important; } }

@media only screen and (min-width: 320px) and (max-width: 577px) {
  .mobile-column {
    flex-direction: column !important; } }

@media only screen and (min-width: 321px) and (max-width: 991px) {
  .smallTabColumn {
    flex-direction: column !important; } }

.leftSide {
  margin-top: 75px;
  width: 850px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .leftSide {
      width: 680px; } }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .leftSide {
      width: 100%; } }
  .leftSide ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%; }
    .leftSide ul.tabs li {
      color: #464646;
      display: inline-block;
      padding: 10px 10px;
      background: #ffffff;
      text-align: center;
      width: 157px;
      cursor: pointer;
      margin: 0px 1px;
      font-weight: 300;
      border: 1px solid #6a6a6a;
      border-bottom: none; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .leftSide ul.tabs li {
          width: 122px; } }
      @media only screen and (min-width: 321px) and (max-width: 991px) {
        .leftSide ul.tabs li {
          width: 127px; } }
      .leftSide ul.tabs li:last-child {
        width: auto;
        padding: 10px 15px;
        margin-left: 1px;
        background: #fec637;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px; }
      .leftSide ul.tabs li.current {
        background: #fec637;
        color: #464646;
        padding-top: 20px; }
  .leftSide .tab-content {
    display: none;
    background: #ffffff;
    padding: 15px;
    width: 100%;
    border: 1px solid #6a6a6a;
    min-height: 200px; }
  .leftSide .tab-content.current {
    display: inherit; }
  .leftSide .tabHeadText {
    margin: 10px 0px;
    font-size: 22px;
    font-weight: normal; }

.rightSide {
  background: #ffffff;
  width: 250px;
  margin-left: 20px;
  border: 1px solid #6a6a6a;
  padding: 15px;
  margin-top: -15px;
  position: sticky;
  top: 10px; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .rightSide {
      width: 100%;
      margin-left: 0px;
      margin-top: 10px; } }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .rightSide {
      position: fixed;
      width: 250px;
      right: -250px;
      top: 158px;
      transition: 0.10s ease-in-out; } }
  .rightSide.leftItinerayShow {
    right: 0px;
    transition: 0.10s ease-in-out; }
  .rightSide .itineraryResponsiveBtn {
    position: absolute;
    transform: rotate(-90deg);
    left: -107px;
    background: #fec637;
    padding: 5px;
    top: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
    border: 1px solid #916800;
    cursor: pointer; }
    .rightSide .itineraryResponsiveBtn img {
      width: 30px; }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .rightSide .itineraryResponsiveBtn {
        display: block; } }
  .rightSide .rightHeadText {
    vertical-align: middle;
    align-items: center;
    font-family: BebasNeue;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #464646; }
    .rightSide .rightHeadText img {
      width: 40px;
      margin-top: -5px;
      margin-left: -20px; }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .rightSide .rightHeadText {
        display: none; } }
  .rightSide .itineraryItems {
    width: 100%;
    min-height: 305px;
    border-bottom: 1px solid #a1a1a1;
    margin-top: 25px; }
    .rightSide .itineraryItems .dragDropImage {
      width: 100%; }
      .rightSide .itineraryItems .dragDropImage.is-ready {
        background: #fec637; }
      .rightSide .itineraryItems .dragDropImage.is-hidden {
        display: none; }
    .rightSide .itineraryItems .itinerarySelItems {
      padding: 0px;
      list-style: none; }
      .rightSide .itineraryItems .itinerarySelItems li {
        padding: 8px 10px;
        background: #fec637;
        border: 1px solid #916800;
        margin: 10px 0px;
        border-radius: 4px;
        position: relative; }
        .rightSide .itineraryItems .itinerarySelItems li a {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #ffffff;
          padding: 6px 8px;
          display: inline-table;
          vertical-align: middle;
          border: 1px solid #916800;
          box-shadow: inset 0px 2px 2px darkgrey; }
          .rightSide .itineraryItems .itinerarySelItems li a img {
            width: 22px; }
        .rightSide .itineraryItems .itinerarySelItems li h4 {
          display: inline-table;
          vertical-align: middle;
          text-transform: uppercase;
          margin: 5px;
          font-weight: 500;
          font-size: 15px;
          color: #464646; }
          .rightSide .itineraryItems .itinerarySelItems li h4 span {
            width: 100%;
            font-size: 12px;
            display: block;
            font-weight: 200;
            font-family: unset;
            color: #464646; }
            .rightSide .itineraryItems .itinerarySelItems li h4 span img {
              width: 10px; }
        .rightSide .itineraryItems .itinerarySelItems li span {
          font-family: BebasNeue;
          font-size: 25px;
          font-weight: 300;
          display: inline-table;
          vertical-align: middle;
          position: relative;
          margin-top: 9px; }
          .rightSide .itineraryItems .itinerarySelItems li span a {
            position: absolute;
            width: 20px;
            height: 20px;
            padding: 0px 4px;
            top: -18px;
            right: -9px;
            font-size: 11px;
            display: block;
            border: 2px solid #ffffff;
            background: #551400;
            border-radius: 50%;
            color: #ffffff; }
        .rightSide .itineraryItems .itinerarySelItems li div.expandIcon {
          width: 100%; }
          .rightSide .itineraryItems .itinerarySelItems li div.expandIcon img {
            width: 20px !important;
            margin: 0 auto;
            display: block; }
  .rightSide .itineraryTotal {
    margin: 10px 0px;
    text-transform: uppercase;
    font-family: BebasNeue;
    font-size: 32px;
    font-weight: 500;
    color: #464646;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #a1a1a1; }
  .rightSide .itineraryBtns {
    width: 100%;
    text-align: center; }
    .rightSide .itineraryBtns .itinerarySave {
      padding: 6px 18px !important; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .rightSide .itineraryBtns .itinerarySave {
          width: 100%;
          margin-bottom: 10px; } }
    .rightSide .itineraryBtns .itineraryBook {
      background: #551400 !important;
      color: #ffffff;
      padding: 6px 18px !important; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .rightSide .itineraryBtns .itineraryBook {
          width: 100%; } }

.roadmap {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4px;
  display: block; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .roadmap {
      display: none; } }
  .roadmap img {
    width: 90%; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .roadmap img {
        width: 88%; } }

.searchBtn {
  background: #fec637;
  color: #464646;
  border: 1px solid #916800; }
  .searchBtn img {
    width: 20px; }

.navbarBg .container > .navbar-collapse {
  float: right;
  display: flex !important;
  align-items: center; }

.selectDivsAl {
  width: 100%;
  float: left; }
  .selectDivsAl .form-group {
    display: block;
    position: relative; }
    .selectDivsAl .form-group .seleboxs {
      width: 100%;
      /* height: 40px; */
      background: transparent;
      font-weight: 500;
      border: 1px solid #6a6a6a;
      margin-right: 5px;
      padding: 2px;
      position: relative; }
      .selectDivsAl .form-group .seleboxs input {
        border: none;
        background: none;
        width: 100%;
        height: 37px;
        outline: none;
        text-indent: 30px;
        font-weight: normal; }
    .selectDivsAl .form-group .seleboxs1 {
      width: 398px;
      /* height: 40px; */
      background: transparent;
      font-weight: 500;
      border: 1px solid #6a6a6a;
      margin-right: 5px;
      padding: 2px;
      position: relative; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .selectDivsAl .form-group .seleboxs1 {
          height: 40px;
          width: 100%; } }
      @media only screen and (min-width: 321px) and (max-width: 991px) {
        .selectDivsAl .form-group .seleboxs1 {
          width: 100%;
          height: 40px; } }
      .selectDivsAl .form-group .seleboxs1 .dateInput {
        width: 49% !important;
        display: inline-block;
        text-indent: 35px  !important;
        border: none;
        background: none;
        height: 37px;
        outline: none;
        text-indent: 30px;
        font-weight: normal; }
      .selectDivsAl .form-group .seleboxs1 .borderRig {
        border-right: 1px solid #6a6a6a; }
      .selectDivsAl .form-group .seleboxs1 .calendImg {
        top: 10px;
        left: 8px;
        width: 20px;
        position: absolute; }

.locationIcon {
  font-size: 18px;
  position: absolute;
  top: 11px;
  left: 8px;
  color: #9b9b9b; }

.sectionCard {
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.8);
  min-height: 70px;
  margin: 0px 0px 15px 0px;
  padding: 15px;
  border: 1px solid #6a6a6a;
  position: relative; }
  .sectionCard.searchRes {
    background: #ffffff; }

.seleboxs2 {
  width: 160px;
  position: relative; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .seleboxs2 {
      width: 100%;
      margin-top: 10px; } }

.roomSelection, .guestSelection {
  display: inline-table !important; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .roomSelection, .guestSelection {
      width: 50%; } }
  .roomSelection h6, .guestSelection h6 {
    font-weight: 300;
    display: inline-table;
    color: #464646;
    margin-right: 10px; }
  .roomSelection ul, .guestSelection ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-table; }
    .roomSelection ul li, .guestSelection ul li {
      display: inline-block;
      padding: 10px; }
      .roomSelection ul li a, .guestSelection ul li a {
        color: #464646;
        text-decoration: none;
        position: relative;
        font-weight: normal; }
    .roomSelection ul li.active, .guestSelection ul li.active {
      width: 30px;
      height: 30px;
      /* display: block; */
      border-radius: 50px;
      padding: 4px 10px;
      background: #fec637; }

.searchInfo h3 {
  text-transform: uppercase;
  font-size: 39px;
  font-family: "BebasNeue";
  font-weight: 300;
  margin: 0 10px 0 0;
  display: inline-table;
  vertical-align: middle;
  color: #464646; }
.searchInfo ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: inline-table; }
  .searchInfo ul li.border {
    border: 1px solid #6a6a6a !important; }
  .searchInfo ul li {
    display: inline-table;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle; }
    .searchInfo ul li h5 {
      margin: 0;
      font-weight: 500;
      color: #464646;
      font-size: 15px; }
    .searchInfo ul li p {
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 0px;
      color: #464646;
      font-size: 12px; }
    .searchInfo ul li img {
      width: 20px; }

.filterBg {
  background: rgba(0, 0, 0, 0.6);
  width: 250px;
  border: 1px solid #6a6a6a;
  padding: 15px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .filterBg {
      width: 100%; } }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .filterBg {
      width: 100%; } }
  .filterBg .filterTitle {
    display: none;
    border-bottom: none;
    padding-bottom: 0px; }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .filterBg .filterTitle h2 {
        display: block;
        border-bottom: none;
        margin: 0px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .filterBg .filterTitle h2 {
        display: block;
        border-bottom: none;
        margin: 0px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .filterBg .filterTitle {
        display: block; } }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .filterBg .filterTitle {
        display: block; } }
    .filterBg .filterTitle .downArrowImg {
      float: right;
      margin-top: 15px;
      display: block; }
  .filterBg .respDeskShow {
    display: block; }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .filterBg .respDeskShow {
        display: none; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .filterBg .respDeskShow {
        display: none; } }
  .filterBg.showFilterBg .respDeskShow {
    display: block; }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .filterBg.showFilterBg .respDeskShow {
        display: block; } }
  .filterBg h2 {
    color: #ffffff;
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
    margin: 10px 0px;
    font-size: 35px;
    font-family: "BebasNeue";
    font-weight: 300; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .filterBg h2 {
        display: none;
        border-bottom: none; } }
    @media only screen and (min-width: 321px) and (max-width: 991px) {
      .filterBg h2 {
        display: none;
        border-bottom: none; } }
  .filterBg h4 {
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    margin: 10px 0px 0px 0px; }
  .filterBg .searchInPut {
    position: relative; }
    .filterBg .searchInPut:after {
      top: 6px;
      left: 0;
      width: 30px;
      background: url("../images/search-tool.png") no-repeat;
      background-size: 50%;
      z-index: 2; }
    .filterBg .searchInPut .searchByName {
      border: none;
      border-bottom: 1px solid #b7b7b7;
      background: transparent;
      width: 100%;
      color: #fff;
      font-size: 15px;
      text-indent: 20px; }
      .filterBg .searchInPut .searchByName::-moz-placeholder {
        color: #fff; }
      .filterBg .searchInPut .searchByName:focus {
        outline: none; }
  .filterBg div {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px; }
    .filterBg div:last-child {
      border-bottom: none; }
  .filterBg .priceRange li img {
    width: 85px; }
  .filterBg ul {
    list-style: none;
    padding: 0px; }
  .filterBg li {
    display: block;
    padding: 1px 5px; }
    .filterBg li img, .filterBg li p, .filterBg li input, .filterBg li span {
      display: inline-table;
      vertical-align: middle;
      margin: 0px 0px 0px 0px;
      color: #ffffff;
      font-weight: normal;
      font-size: 13px; }
    .filterBg li .filtercheckbox {
      position: absolute;
      opacity: 0; }
      .filterBg li .filtercheckbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        color: #ffffff;
        font-weight: normal;
        font-size: 13px; }
      .filterBg li .filtercheckbox + label:before {
        content: '';
        margin-right: 4px;
        margin-top: 2px;
        display: inline-block;
        vertical-align: text-top;
        width: 15px;
        height: 15px;
        background: transparent;
        border: 1px solid #fff; }
      .filterBg li .filtercheckbox:hover + label:before {
        background: #fec637; }
      .filterBg li .filtercheckbox:checked + label:before {
        background: #fec637; }
      .filterBg li .filtercheckbox:checked + label:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 9px;
        background: #551400;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 #551400, 4px 0 0 #551400, 4px -2px 0 #551400, 4px -4px 0 #551400, 4px -6px 0 #551400, 4px -8px 0 #551400;
        transform: rotate(45deg); }

.filterResult {
  width: 560px;
  margin-left: 20px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .filterResult {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px; } }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .filterResult {
      width: 100%;
      margin-left: 0px;
      margin-top: 20px; } }
  .filterResult .clickMoreBtn {
    padding: 10px 20px;
    outline: none; }
  .filterResult .newTabBtn {
    border: 1px solid #4e4a4a;
    background: #ffffff;
    font-size: 13px;
    float: right;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    cursor: pointer; }
    .filterResult .newTabBtn img {
      width: 15px; }
  .filterResult .cardDetailsHowBg {
    width: 100%;
    height: 1000px !important;
    overflow-y: auto;
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .filterResult .cardDetailsHowBg::-webkit-scrollbar {
      width: 8px; }
    .filterResult .cardDetailsHowBg::-webkit-scrollbar-track {
      background: #f1f1f1;
      border: 1px solid #6a6a6a; }
    .filterResult .cardDetailsHowBg::-webkit-scrollbar-thumb {
      background: #888; }
    .filterResult .cardDetailsHowBg::-webkit-scrollbar-thumb:hover {
      background: #555; }
  .filterResult .sectionCard {
    margin: 0px 0px 15px 0px;
    background: #ffffff; }
  .filterResult .navigation {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0; }
    .filterResult .navigation li {
      display: inline-table;
      vertical-align: middle;
      position: relative;
      padding: 0px 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .filterResult .navigation li {
          padding: 0px 30px; } }
      .filterResult .navigation li img {
        width: 35px; }
      .filterResult .navigation li span {
        font-size: 12px;
        font-weight: 300; }
      .filterResult .navigation li a {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #ffffff;
        /* float: left; */
        display: block;
        border: 1px solid #6a6a6a;
        padding: 5px;
        font-size: 17px;
        margin: auto;
        color: #464646;
        text-decoration: none;
        position: relative;
        z-index: 2; }
    .filterResult .navigation li.active a {
      background: #fec637;
      border: 1px solid #916800; }

.rangeVauleLeft {
  color: #ffffff;
  font-size: 14px; }

.rangeVauleRight {
  color: #ffffff;
  float: right;
  font-size: 14px; }

.line:after {
  content: '';
  position: absolute;
  top: 40px;
  border-top: 2px solid #6a6a6a;
  left: 68px;
  z-index: 0;
  width: 98px;
  z-index: 1; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .line:after {
      left: 56px;
      width: 150px; } }

.line.active::before {
  content: '';
  position: absolute;
  top: 10%;
  right: -14px;
  background: url("../images/Your Itinerary Tourist.svg") no-repeat;
  width: 30px;
  height: 40px;
  background-size: 95%; }

.owl-carousel {
  width: 160px !important;
  height: 160px; }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .owl-carousel {
      width: 200px !important; } }
  .owl-carousel .item {
    position: relative; }
    .owl-carousel .item .leftArrow {
      position: absolute;
      top: 43%;
      left: 5px;
      background: #0009;
      width: 30px;
      height: 30px;
      padding: 7px 11px;
      border-radius: 50%;
      color: #fff;
      font-size: 12px; }
    .owl-carousel .item .rightArrow {
      position: absolute;
      top: 43%;
      right: 5px;
      background: #0009;
      width: 30px;
      height: 30px;
      padding: 7px 11px;
      border-radius: 50%;
      color: #fff;
      font-size: 12px; }
    .owl-carousel .item img {
      width: 160px !important;
      height: 160px;
      object-fit: cover; }
      @media only screen and (min-width: 321px) and (max-width: 991px) {
        .owl-carousel .item img {
          width: 100% !important; } }

.owl-prev {
  position: absolute;
  left: 0;
  top: 40%;
  background: rgba(0, 0, 0, 0.6) !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none; }
  .owl-prev span {
    color: #ffffff; }

.owl-next {
  position: absolute;
  right: 0;
  top: 40%;
  background: rgba(0, 0, 0, 0.6) !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none; }
  .owl-next span {
    color: #ffffff; }

.listTitle {
  border-bottom: 1px solid #898989; }

.detailsBg {
  width: 220px;
  margin-left: 8px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .detailsBg {
      width: 310px; } }
  @media only screen and (min-width: 321px) and (max-width: 991px) {
    .detailsBg {
      width: 285px; } }
  .detailsBg p {
    font-size: 12px;
    line-height: 15px;
    text-align: left; }
    .detailsBg p img {
      width: 15px;
      display: inline-table;
      vertical-align: top; }
    .detailsBg p a {
      display: inline-table;
      vertical-align: middle;
      width: 190px;
      color: #464646; }
      .detailsBg p a:hover {
        color: #464646; }
  .detailsBg h4 {
    font-weight: 300;
    font-size: 17px;
    margin-top: 5px; }

.listTitle span {
  font-size: 14px; }
.listTitle img {
  width: 90px; }

.priceDiv {
  position: relative;
  /* right: -5px; */
  right: -25px;
  top: -15px;
  padding: 2px 5px;
  border: 1px solid #6a6a6a;
  border-top: none;
  background: #ffffff;
  min-width: 100px; }
  .priceDiv strike {
    text-decoration-color: #f00;
    font-size: 20px;
    float: right;
    /* width: 100%; */
    font-weight: 500;
    color: #6a6a6a; }
  .priceDiv h2 {
    margin: 0px 0px;
    color: #551400;
    font-size: 30px;
    text-align: center;
    font-weight: 300; }
  .priceDiv p {
    text-align: right;
    margin: 0;
    font-size: 12px; }
  .priceDiv h4 {
    font-weight: 300;
    font-size: 14px; }

.selectRoomBtn {
  float: right;
  background: #fec637;
  color: #464646;
  border: 1px solid #916800;
  font-size: 12px;
  padding: 9px 22px;
  /* margin-bottom: 26px; */
  position: absolute;
  bottom: 12px;
  right: 7px; }

.navBorderRight::after {
  content: '';
  border-right: 1px solid #898989;
  width: 1px;
  height: 20px;
  padding-right: 0px;
  position: absolute;
  right: 1px; }

.kPwAKu {
  position: absolute !important;
  background: #fff;
  border: 1px solid #278e4a;
  font-size: 13px;
  padding: 5px; }

.kPwAKu div {
  font-weight: 300;
  padding: 2px 5px; }

.downarrowStyle {
  width: 45px;
  margin: auto;
  border: 1px solid #a7a7a7;
  display: flex;
  padding: 3px 8px;
  cursor: pointer; }

.downarrowStyle img {
  width: 25px;
  height: 25px; }

.noHotels {
  text-align: center;
  width: 100%;
  float: left; }

.noHotels i {
  font-size: 80px;
  color: #c1c1c1;
  margin-bottom: 20px; }

.noHotelText {
  text-align: center;
  width: 100%;
  font-size: 35px;
  color: #c1c1c1;
  font-family: BebasNeue;
  font-weight: 300; }

/* range style */
input[type="range"] {
  -webkit-appearance: none;
  margin: 0px 0;
  width: 100%;
  background: transparent; }

input[type="range"]:focus {
  outline: none; }

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 1px;
  border: 0px solid #000000; }

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff; }

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 1px;
  border: 0px solid #000000; }

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer; }

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000; }

input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000; }

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer; }

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff; }

input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff; }

.selectRoomBg {
  width: 100%;
  border: 1px solid #6a6a6a;
  margin-bottom: 15px; }
  .selectRoomBg .selectRoomTitle {
    width: 100%;
    background: #ebebeb;
    text-align: center;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #6a6a6a; }
    .selectRoomBg .selectRoomTitle h4 {
      color: #464646;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0px;
      font-size: 18px; }
  .selectRoomBg .selectRoomItemsBg {
    width: 100%;
    padding: 10px;
    background: #ffffff; }
    .selectRoomBg .selectRoomItemsBg .seleboxs1 {
      width: 400px;
      border: 1px solid #6a6a6a;
      display: inline-table;
      margin-right: 10px;
      height: 35px;
      position: relative;
      /* vertical-align: middle; */
      padding: 2px 5px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .selectRoomBg .selectRoomItemsBg .seleboxs1 {
          width: 270px; } }
      @media only screen and (min-width: 321px) and (max-width: 991px) {
        .selectRoomBg .selectRoomItemsBg .seleboxs1 {
          width: 100%; } }
      .selectRoomBg .selectRoomItemsBg .seleboxs1 img {
        width: 18px;
        margin-right: 6px; }
      .selectRoomBg .selectRoomItemsBg .seleboxs1 .borderRight {
        margin-right: 2px;
        border-right: 1px solid #6a6a6a; }
      .selectRoomBg .selectRoomItemsBg .seleboxs1 input {
        width: 90px;
        border: none;
        background: none;
        font-size: 14px;
        outline: none;
        text-indent: 10px;
        vertical-align: middle; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .selectRoomBg .selectRoomItemsBg .seleboxs1 input {
            width: 110px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .selectRoomBg .selectRoomItemsBg .seleboxs1 input {
            width: 47%; } }
    .selectRoomBg .selectRoomItemsBg .selectDivsAl {
      display: inline-flex; }
      .selectRoomBg .selectRoomItemsBg .selectDivsAl select {
        width: 70px;
        padding: 5px;
        height: 35px;
        border: 1px solid #6a6a6a;
        -webkit-appearance: none;
        font-size: 14px;
        background: url("../images/selarrow.png") no-repeat 94% 50%;
        vertical-align: middle;
        margin-right: 10px;
        outline: none; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .selectRoomBg .selectRoomItemsBg .selectDivsAl select {
            width: 185px;
            margin-top: 10px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .selectRoomBg .selectRoomItemsBg .selectDivsAl .search-room {
          margin-top: 10px; } }
    .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection {
      width: 185px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection {
          width: 200px !important; } }
      .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection .owl-carousel {
        width: 180px !important;
        height: 160px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection .owl-carousel {
            width: 100% !important; } }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection .owl-carousel {
            width: 100% !important; } }
        .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection .owl-carousel .item img {
          width: 180px !important;
          height: 160px;
          object-fit: cover; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection .owl-carousel .item img {
              width: 100% !important;
              height: 200px; } }
      .selectRoomBg .selectRoomItemsBg .sectionCard .imagesection p {
        margin: 0;
        font-size: 12px;
        font-weight: 300; }
    .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg {
      width: 180px;
      margin: 0px 4px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg {
          width: 250px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg {
          width: 250px; } }
      .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg ul li img {
          width: 15px; }
        .selectRoomBg .selectRoomItemsBg .sectionCard .detailsBg ul li p {
          font-size: 12px;
          display: inline;
          font-weight: 300;
          color: #464646; }
    .selectRoomBg .selectRoomItemsBg .sectionCard .rateShowDiv img {
      float: right;
      margin-top: 15px; }

.confirmRoomLeft {
  width: 260px;
  margin-right: 10px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .confirmRoomLeft {
      width: 50%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .confirmRoomLeft {
      width: 50%; } }
  .confirmRoomLeft .owl-carousel {
    width: 100% !important; }
    .confirmRoomLeft .owl-carousel .item img {
      width: 100% !important; }
  .confirmRoomLeft img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px; }
  .confirmRoomLeft ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 135px; }
    .confirmRoomLeft ul li {
      padding: 0px 0px;
      display: inline-block;
      font-size: 12px;
      line-height: 4px; }
      .confirmRoomLeft ul li img {
        width: 15px;
        height: auto;
        display: inline-table;
        margin-right: 3px; }
  .confirmRoomLeft h6 {
    font-weight: 100;
    font-size: 14px;
    border-top: 1px dashed #6a6a6a;
    margin-top: 5px;
    padding-top: 15px;
    color: #464646; }
  .confirmRoomLeft p {
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    color: #464646; }

.confirmRoomRight {
  width: 260px;
  margin-left: 5px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .confirmRoomRight {
      width: 50%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .confirmRoomRight {
      width: 50%; } }
  .confirmRoomRight .listTitle {
    width: 80%; }
  .confirmRoomRight h4 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
    color: #464646; }
  .confirmRoomRight p {
    font-size: 12px;
    color: #464646; }
    .confirmRoomRight p img {
      width: 12px; }
    .confirmRoomRight p a {
      color: #464646; }
  .confirmRoomRight h6 {
    font-size: 14px;
    font-weight: 300;
    color: #464646; }
  .confirmRoomRight span {
    font-size: 12px;
    color: #464646; }
  .confirmRoomRight ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .confirmRoomRight ul li {
      display: inline-table;
      padding: 3px 8px;
      text-align: center;
      vertical-align: middle; }
      .confirmRoomRight ul li.border {
        border: 1px solid #6a6a6a !important; }
      .confirmRoomRight ul li h5 {
        color: #464646;
        margin: 0; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .confirmRoomRight ul li h5 {
            font-size: 17px; } }
      .confirmRoomRight ul li p {
        font-size: 14px;
        text-transform: uppercase;
        color: #464646;
        margin-bottom: 0px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .confirmRoomRight ul li p {
            font-size: 13px; } }
  .confirmRoomRight .checkInOut {
    margin-top: 10px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .confirmRoomRight .checkInOut li {
        padding: 10px 50px 10px 0px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .confirmRoomRight .checkInOut li {
        padding: 10px 50px 10px 0px; } }
    .confirmRoomRight .checkInOut li img {
      width: 35px;
      margin-right: 2px; }
    .confirmRoomRight .checkInOut li span {
      display: inline-table;
      vertical-align: middle; }
      .confirmRoomRight .checkInOut li span b {
        display: block; }
  .confirmRoomRight .totalAmountDis {
    border: 1px solid #6a6a6a !important;
    margin-top: 10px;
    padding: 5px; }
    .confirmRoomRight .totalAmountDis li {
      text-align: left;
      width: 100%;
      display: inline-flex;
      justify-content: space-between; }
      .confirmRoomRight .totalAmountDis li:last-child {
        border-top: 1px dashed #6a6a6a; }
        .confirmRoomRight .totalAmountDis li:last-child span {
          font-size: 14px;
          font-weight: 300;
          color: #464646; }
  .confirmRoomRight .addIteinary {
    font-size: 11px;
    padding: 10px 8px;
    outline: none; }
  .confirmRoomRight .continueBook {
    font-size: 11px;
    background: #551400 !important;
    color: #ffffff;
    padding: 10px 8px;
    outline: none; }

.otherSectionBg {
  width: 100%;
  border: 1px solid #6a6a6a;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 15px; }
  .otherSectionBg .headerTitles {
    display: inline-flex;
    justify-content: space-between;
    width: 100%; }
    .otherSectionBg .headerTitles h5 {
      font-weight: 200;
      color: #464646; }
    .otherSectionBg .headerTitles div {
      vertical-align: middle;
      display: inline-flex;
      margin-top: 2px; }
      .otherSectionBg .headerTitles div span {
        font-size: 12px;
        /* vertical-align: middle; */
        /* display: inline-table; */
        margin: 2px 5px; }
      .otherSectionBg .headerTitles div input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden; }
      .otherSectionBg .headerTitles div label {
        cursor: pointer;
        text-indent: -9999px;
        width: 40px;
        height: 22px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative; }
      .otherSectionBg .headerTitles div label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 5px;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s; }
      .otherSectionBg .headerTitles div input:checked + label {
        background: #84e689; }
      .otherSectionBg .headerTitles div input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%); }
      .otherSectionBg .headerTitles div label:active:after {
        width: 20px; }
  .otherSectionBg .hotelProtectInfo {
    width: 100%;
    margin-top: 10px; }
    .otherSectionBg .hotelProtectInfo.isHidden {
      display: none; }
    .otherSectionBg .hotelProtectInfo small {
      color: #c90000;
      font-size: 12px;
      display: inline-table;
      vertical-align: middle; }
      .otherSectionBg .hotelProtectInfo small img {
        width: 13px; }
    .otherSectionBg .hotelProtectInfo p {
      font-size: 13px;
      font-weight: 200;
      color: #464646;
      margin-bottom: 5px; }
    .otherSectionBg .hotelProtectInfo ol {
      margin: 0 0 10px 0;
      padding-left: 15px; }
      .otherSectionBg .hotelProtectInfo ol li {
        font-size: 12Px;
        font-weight: 200;
        color: #464646; }
    .otherSectionBg .hotelProtectInfo span {
      font-size: 13px; }
      .otherSectionBg .hotelProtectInfo span b {
        color: #ff0000; }
    .otherSectionBg .hotelProtectInfo ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      display: block; }
      .otherSectionBg .hotelProtectInfo ul li {
        width: 100%;
        display: block;
        padding: 10px;
        background: #dddddd;
        margin-bottom: 5px; }
        .otherSectionBg .hotelProtectInfo ul li div {
          display: table-row; }
          .otherSectionBg .hotelProtectInfo ul li div input {
            display: table-cell; }
          .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:checked {
            position: absolute;
            left: -9999px; }
            .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:checked + label {
              position: relative;
              padding-left: 15px;
              cursor: pointer;
              line-height: 20px;
              top: -5px;
              display: inline-block;
              color: #666; }
              .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #6a6a6a;
                border-radius: 100%;
                background: #ffffff; }
              .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:checked + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #fec637;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1); }
          .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px; }
            .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:not(:checked) + label {
              position: relative;
              padding-left: 15px;
              cursor: pointer;
              line-height: 20px;
              top: -5px;
              display: inline-block;
              color: #666; }
              .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #6a6a6a;
                border-radius: 100%;
                background: #fff; }
              .otherSectionBg .hotelProtectInfo ul li div input[type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #fec637;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0); }
          .otherSectionBg .hotelProtectInfo ul li div div {
            display: table-cell;
            padding: 0px 10px; }
            .otherSectionBg .hotelProtectInfo ul li div div p {
              font-size: 13px;
              font-weight: normal;
              margin: 0;
              line-height: 15px; }
            .otherSectionBg .hotelProtectInfo ul li div div small {
              color: #464646; }
          .otherSectionBg .hotelProtectInfo ul li div span {
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            width: 100px;
            font-size: 20px;
            font-weight: 500;
            color: #6a6a6a; }

.cardImg {
  width: 35%;
  height: 26px; }

.paymentDetails {
  width: 100%;
  margin-top: 10px; }
  .paymentDetails h5 {
    font-weight: 200;
    color: #464646;
    margin-top: 10px; }
  .paymentDetails .form-group {
    margin-bottom: 5px; }
    .paymentDetails .form-group .whosText {
      font-size: 15px;
      font-weight: 300; }
    .paymentDetails .form-group label {
      width: 100%;
      font-size: 13px;
      margin-bottom: 3px;
      font-weight: 200; }
    .paymentDetails .form-group input {
      width: 100%;
      font-size: 13px;
      padding: 5px;
      height: 35px;
      border: 1px solid #6a6a6a; }
    .paymentDetails .form-group select {
      width: 100%;
      font-size: 13px;
      padding: 5px;
      height: 35px;
      border: 1px solid #6a6a6a;
      -webkit-appearance: none;
      background: url("../images/selarrow.png") no-repeat 94% 50%; }
    .paymentDetails .form-group .styled-checkbox {
      position: absolute;
      opacity: 0; }
      .paymentDetails .form-group .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        top: -5px; }
      .paymentDetails .form-group .styled-checkbox:checked + label:before {
        background: #fff; }
      .paymentDetails .form-group .styled-checkbox + label:before {
        content: '';
        margin-right: 10px;
        margin-top: 0px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        border: 1px solid #6a6a6a; }
      .paymentDetails .form-group .styled-checkbox:checked + label:after {
        content: '\2713';
        position: absolute;
        /* width: 20px; */
        left: 2px;
        font-size: 33px;
        font-weight: 600;
        color: #11a03d;
        top: -21px; }
  .paymentDetails .searchBtn {
    font-size: 14px;
    margin-left: 10px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .paymentDetails .searchBtn {
        margin-left: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .paymentDetails .searchBtn {
        margin-left: 10px; } }

.backgroundDark {
  background: rgba(0, 0, 0, 0.6); }

.signInPopup {
  max-width: 450px !important; }
  .signInPopup .modal-content {
    border-radius: 0px; }
    .signInPopup .modal-content .modal-header {
      background: #ebebeb;
      padding: 10px;
      text-align: center; }
      .signInPopup .modal-content .modal-header .modal-title {
        text-align: center;
        margin: auto;
        width: 100%;
        color: #464646;
        font-size: 22px;
        font-weight: 300; }
      .signInPopup .modal-content .modal-header button {
        font-size: 40px;
        color: #464646;
        opacity: 1;
        position: absolute;
        right: 12px;
        top: 5px;
        outline: none;
        font-weight: 100; }
    .signInPopup .modal-content .modal-body {
      border: none; }
      .signInPopup .modal-content .modal-body h6 {
        font-weight: normal;
        color: #464646; }
      .signInPopup .modal-content .modal-body .socialBtnGroup {
        width: 100%;
        display: block;
        text-align: center; }
        .signInPopup .modal-content .modal-body .socialBtnGroup button {
          display: inline-flex;
          padding: 0px;
          justify-content: start;
          border: 1px solid #6a6a6a;
          background: #ffffff;
          padding: 6px;
          width: 195px;
          vertical-align: middle;
          margin-right: 15px;
          color: #464646; }
          .signInPopup .modal-content .modal-body .socialBtnGroup button:last-child {
            margin-right: 0px; }
          .signInPopup .modal-content .modal-body .socialBtnGroup button img {
            width: 30px;
            margin-right: 20px; }
      .signInPopup .modal-content .modal-body .signWithEmail {
        width: 100%;
        display: block;
        /* vertical-align: middle; */
        margin: 10px 0px;
        padding: 5px; }
        .signInPopup .modal-content .modal-body .signWithEmail hr {
          border-top: 2px dashed #949494;
          width: 113px;
          display: inline-table;
          vertical-align: middle; }
        .signInPopup .modal-content .modal-body .signWithEmail h6 {
          display: inline-table;
          font-weight: normal;
          vertical-align: middle;
          color: #464646;
          padding: 0px 5px;
          margin: 0; }
      .signInPopup .modal-content .modal-body .signInForm {
        width: 100%;
        display: block; }
        .signInPopup .modal-content .modal-body .signInForm .form-group label {
          font-size: 14px;
          color: #464646;
          margin: 0;
          font-weight: 200; }
        .signInPopup .modal-content .modal-body .signInForm .form-group .form-control {
          border: 1px solid #6a6a6a;
          border-radius: 0px;
          text-indent: 25px; }
          .signInPopup .modal-content .modal-body .signInForm .form-group .form-control:focus {
            outline: none;
            box-shadow: none; }
        .signInPopup .modal-content .modal-body .signInForm .form-group a {
          font-size: 14px; }
        .signInPopup .modal-content .modal-body .signInForm .form-group button {
          padding: 10px 20px;
          width: 100%;
          margin: 0px 0px 10px 0px; }
        .signInPopup .modal-content .modal-body .signInForm .form-group .dontHaveAccount {
          font-size: 14px;
          color: #464646; }

.filtercheckbox {
  position: absolute;
  opacity: 0; }
  .filtercheckbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #464646;
    font-weight: normal;
    font-size: 14px; }
  .filtercheckbox + label:before {
    content: '';
    margin-right: 4px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #6a6a6a; }
  .filtercheckbox:hover + label:before {
    background: #fec637; }
  .filtercheckbox:checked + label:before {
    background: #fec637; }
  .filtercheckbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 9px;
    background: #551400;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #551400, 4px 0 0 #551400, 4px -2px 0 #551400, 4px -4px 0 #551400, 4px -6px 0 #551400, 4px -8px 0 #551400;
    transform: rotate(45deg); }

.userIcon {
  position: relative; }
  .userIcon:after {
    background: url(../images/user.png) no-repeat; }

.passwordIcon {
  position: relative; }
  .passwordIcon:after {
    background: url(../images/lock.png) no-repeat; }

.mailIcon {
  position: relative; }
  .mailIcon:after {
    background: url(../images/mail.png) no-repeat; }

.flightIcon {
  position: relative; }
  .flightIcon:after {
    background: url(../images/dashboard/plane.png) no-repeat; }

.streetIcon {
  position: relative; }
  .streetIcon:after {
    background: url(../images/dashboard/street-map.png) no-repeat; }

.callIcon {
  position: relative; }
  .callIcon:after {
    background: url(../images/dashboard/call.png) no-repeat; }

/* dashboard design style starts */
.navbarBg {
  box-shadow: 3px 3px 2px 0px #ebebeb;
  -webkit-box-shadow: 3px 3px 2px 0px #ebebeb;
  -moz-box-shadow: 3px 3px 2px 0px #ebebeb; }

.dashSection {
  margin: 30px 0px; }

.dashContainer {
  display: flex;
  flex-wrap: wrap; }
  .dashContainer .dashLeftSide {
    margin-top: 15px;
    width: 270px; }
    .dashContainer .dashLeftSide .profileView {
      background: #ebebeb;
      padding: 10px;
      min-height: 250px;
      text-align: center;
      margin-bottom: 15px; }
      .dashContainer .dashLeftSide .profileView h4 {
        color: #464646;
        font-size: 22px;
        font-weight: 300; }
      .dashContainer .dashLeftSide .profileView p {
        margin: 0;
        line-height: 18px;
        font-size: 13px;
        color: #464646; }

.dashContainer
.dashTitleBg {
  width: 100%;
  background: #fec637;
  border: 1px solid #916800;
  display: flex;
  justify-content: space-evenly; }
  .dashContainer
  .dashTitleBg h3 {
    text-transform: uppercase;
    color: #464646;
    font-weight: 600;
    margin: 12px;
    font-size: 20px;
    width: 473px; }

/* .dashLeftSide{width:100%;} */
.dashLeftSide
.profileImgBg {
  margin: auto;
  text-align: center; }
  .dashLeftSide
  .profileImgBg img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%; }

.dashboardMenuItems {
  padding: 0px;
  list-style: none; }
  .dashboardMenuItems li {
    padding: 5px 10px;
    background: #fec637;
    border: 1px solid #916800;
    margin: 10px 0px;
    border-radius: 4px; }
    .dashboardMenuItems li span {
      width: 45px;
      height: 45px;
      display: block;
      border-radius: 50%;
      background: #ffffff;
      padding: 9px;
      display: inline-table;
      vertical-align: middle;
      border: 1px solid #916800;
      box-shadow: inset 0px 2px 2px #ebebeb; }
      .dashboardMenuItems li span img {
        width: 25px; }
    .dashboardMenuItems li h4 {
      display: inline-table;
      vertical-align: middle;
      text-transform: uppercase;
      margin: 10px;
      color: #464646;
      font-size: 18px;
      font-weight: 300; }
    .dashboardMenuItems li.active, .dashboardMenuItems li:hover {
      background: #551400;
      cursor: pointer; }
      .dashboardMenuItems li.active h4, .dashboardMenuItems li:hover h4 {
        color: #ffffff; }

.dashRightSide {
  border: 1px solid #6a6a6a;
  margin-left: 25px;
  width: 815px;
  border-top: none;
  padding: 15px; }
  .dashRightSide .overViewIcon {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #6a6a6a;
    text-align: center; }
    .dashRightSide .overViewIcon div {
      width: 100%;
      min-height: 80px; }
      .dashRightSide .overViewIcon div img {
        width: 90px; }
    .dashRightSide .overViewIcon h4 {
      margin-top: 20px;
      margin-bottom: 0px;
      font-weight: 300;
      color: #464646; }
    .dashRightSide .overViewIcon p {
      margin: 0px;
      line-height: 18px;
      color: #464646; }
    .dashRightSide .overViewIcon:last-child div img {
      width: 100px; }
  .dashRightSide .cardDetails {
    width: 185px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin: 5px;
    border-radius: 4px; }
    .dashRightSide .cardDetails .cardEditOpt {
      width: 100%;
      text-align: right;
      margin-bottom: 5px; }
      .dashRightSide .cardDetails .cardEditOpt .editIcon {
        width: 25px;
        height: 25px;
        border: 1px solid #a1a1a1;
        border-radius: 50%;
        display: inline-block;
        padding: 4px;
        color: #848282;
        font-size: 13px; }
      .dashRightSide .cardDetails .cardEditOpt .closeIcon {
        width: 25px;
        height: 25px;
        border: 1px solid #a1a1a1;
        border-radius: 50%;
        display: inline-block;
        padding: 1px 5px;
        color: #848282;
        font-size: 15px; }
    .dashRightSide .cardDetails h6 {
      color: #464646;
      font-weight: 200; }
    .dashRightSide .cardDetails .cardValidInfo {
      width: 100%;
      display: block; }
      .dashRightSide .cardDetails .cardValidInfo span:nth-child(1) {
        font-size: 10px;
        width: 20px;
        display: inline-table;
        line-height: 10px;
        vertical-align: middle; }
      .dashRightSide .cardDetails .cardValidInfo span:nth-child(2) {
        vertical-align: middle; }
    .dashRightSide .cardDetails .cardBaseDet {
      width: 100%;
      display: block;
      margin: 10px 0px 0px 0px; }
      .dashRightSide .cardDetails .cardBaseDet .holderName {
        text-transform: uppercase; }
      .dashRightSide .cardDetails .cardBaseDet .visaCard {
        background: url(../images/paymentCard.png) 10% 45%;
        width: 42px; }
      .dashRightSide .cardDetails .cardBaseDet .masterCard {
        background: url(../images/paymentCard.png) 32% 45%;
        width: 42px; }
    .dashRightSide .cardDetails .addNewCard {
      text-transform: uppercase;
      font-weight: 300; }
      .dashRightSide .cardDetails .addNewCard span {
        width: 30px;
        height: 30px;
        border: 1px solid #551400;
        display: inline-block;
        border-radius: 50%;
        padding: 2px 7px;
        color: #551400; }

.overViewCateg {
  width: 386px;
  margin: 10px;
  padding: 8px;
  border: 1px solid #6a6a6a;
  display: inline-table; }
  .overViewCateg img {
    width: 25px;
    vertical-align: middle; }
  .overViewCateg span {
    vertical-align: middle;
    margin-left: 20px;
    font-size: 14px; }

.overViewIConImg {
  width: 74px; }

.recentActivity {
  width: 100%;
  display: block;
  padding: 10px; }
  .recentActivity h4 {
    padding-bottom: 10px;
    color: #464646;
    border-bottom: 1px solid #ddd;
    font-weight: 100;
    font-size: 20px; }
  .recentActivity ul {
    list-style: none;
    padding: 0px;
    width: 100%; }
    .recentActivity ul li {
      padding: 15px 10px;
      background: #ebebeb;
      margin: 10px 0px;
      display: flex; }
      .recentActivity ul li span {
        color: #464646; }
        .recentActivity ul li span:nth-child(1) {
          flex-grow: 0;
          vertical-align: middle;
          align-self: center; }
          .recentActivity ul li span:nth-child(1) img {
            width: 24px;
            margin-right: 10px; }
        .recentActivity ul li span:nth-child(2) {
          flex-grow: 6;
          vertical-align: middle;
          align-self: center;
          font-size: 15px; }
        .recentActivity ul li span:nth-child(3) {
          flex-grow: 0;
          vertical-align: middle;
          align-self: center;
          font-size: 12px; }

.hideSection {
  display: none; }

.mytripTable {
  width: 100%;
  display: block; }
  .mytripTable table {
    width: 100%; }
    .mytripTable table thead th {
      border: 1px solid #a1a1a1;
      text-align: center;
      font-size: 14px;
      padding: 8px;
      color: #464646; }
      .mytripTable table thead th img {
        width: 16px; }
    .mytripTable table tbody tr.odd {
      background: #ebebeb;
      cursor: pointer; }
    .mytripTable table tbody tr.even {
      background: #ffffff;
      cursor: pointer; }
    .mytripTable table tbody tr.collapseRow td {
      padding: 0px; }
      .mytripTable table tbody tr.collapseRow td div.detailsShow {
        border: 2px solid #acacac;
        padding: 8px 0px; }
        .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails {
          padding: 5px 8px; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails.borderRight {
            border-right: 1px dashed #6a6a6a; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails h6 {
            font-weight: 200;
            color: #464646;
            margin: 0;
            font-size: 14px; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails p {
            font-weight: normal;
            font-size: 12px; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul {
            padding: 0;
            margin: 0;
            list-style: none; }
            .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li {
              display: inline-table;
              vertical-align: middle; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flightIcon {
                display: block;
                margin-bottom: 20px;
                width: 24px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .clockIcon {
                display: block;
                width: 20px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flightDate {
                display: block;
                /* vertical-align: middle; */
                font-size: 15px;
                font-weight: 300; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flighTime {
                display: block;
                border: 1px solid #6a6a6a;
                width: 80px;
                padding: 6px;
                font-size: 14px; }
                .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flighTime p {
                  font-size: 11px;
                  line-height: 10px;
                  margin: 0px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .arrowDivied {
                width: 14px;
                margin-top: 20px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flightRunTime {
                display: block;
                /* vertical-align: middle; */
                font-size: 17px;
                font-weight: 300; }
                .mytripTable table tbody tr.collapseRow td div.detailsShow .flightDetails ul li .flightRunTime p {
                  display: inline-block;
                  font-size: 11px;
                  line-height: 10px;
                  margin: 0px; }
        .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails {
          padding: 5px 10px; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .totalAmountDis {
            border: 1px solid #6a6a6a !important;
            margin-top: 10px;
            padding: 5px;
            width: 255px; }
            .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .totalAmountDis li {
              text-align: left;
              width: 100%;
              display: inline-flex;
              justify-content: space-between; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .totalAmountDis li:last-child {
                border-top: 1px dashed #6a6a6a; }
                .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .totalAmountDis li:last-child span {
                  font-size: 13px;
                  font-weight: 300;
                  color: #464646; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .totalAmountDis li span {
                font-size: 12px; }
          .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions {
            background: #ebebeb;
            border: 1px solid #6a6a6a;
            padding: 3px;
            position: relative; }
            .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions div {
              align-self: center; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions div a img {
                width: 21px;
                margin-right: 5px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions div.calenderView a img {
                width: 24px;
                margin-right: 0px; }
            .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions .socialShare {
              list-style: none;
              position: absolute;
              margin: 0;
              padding: 0;
              top: 3px;
              left: 65px;
              background: #ffffff;
              border: 1px solid #6a6a6a;
              border-radius: 4px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions .socialShare li {
                display: inline-block;
                padding: 2px 5px; }
                .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions .socialShare li img {
                  width: 19px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions .socialShare:after {
                content: '';
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 15px solid #6a6a6a;
                width: 0;
                height: 0;
                position: absolute;
                left: -15px;
                top: 8px; }
              .mytripTable table tbody tr.collapseRow td div.detailsShow .priceDetails .OtherOptions .socialShare:before {
                content: '';
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-right: 14px solid #ffffff;
                width: 0;
                height: 0;
                position: absolute;
                left: -13px;
                top: 9px;
                z-index: 2; }
    .mytripTable table tbody tr td {
      font-size: 14px;
      padding: 8px;
      color: #464646;
      text-align: center; }
      .mytripTable table tbody tr td:nth-child(5) img {
        width: 10px; }
      .mytripTable table tbody tr td img {
        width: 24px; }
      .mytripTable table tbody tr td .hotelTrips {
        width: 50%; }
        .mytripTable table tbody tr td .hotelTrips:nth-child(1) {
          border-right: 1px dashed #a1a1a1; }
        .mytripTable table tbody tr td .hotelTrips h4 {
          font-size: 14px; }
        .mytripTable table tbody tr td .hotelTrips ul li {
          margin: 5px;
          padding: 5px;
          display: inline-block; }
          .mytripTable table tbody tr td .hotelTrips ul li img {
            width: 20px; }
          .mytripTable table tbody tr td .hotelTrips ul li h5 {
            font-size: 15px; }
          .mytripTable table tbody tr td .hotelTrips ul li p {
            font-size: 12px; }
        .mytripTable table tbody tr td .hotelTrips .checkInOut li {
          margin: 5px;
          padding: 5px 10px;
          display: inline-block; }
          .mytripTable table tbody tr td .hotelTrips .checkInOut li img {
            width: 33px; }
        .mytripTable table tbody tr td .hotelTrips .socialShare li {
          margin: 0px; }
        .mytripTable table tbody tr td .hotelTrips .totalAmountDis {
          width: 100% !important; }

.myNewAddCard {
  max-width: 450px; }
  .myNewAddCard .modal-header {
    background: #fec637;
    padding: 12px 10px; }
    .myNewAddCard .modal-header .modal-title {
      font-weight: 300;
      font-size: 21px;
      margin: 0; }
    .myNewAddCard .modal-header .close {
      font-size: 30px;
      opacity: 1;
      color: #464646;
      outline: none; }
  .myNewAddCard .cardDetailForm .searchBtn {
    width: 100%; }

.profileSetting h5 {
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #6a6a6a;
  margin: 10px 0px; }
.profileSetting input {
  text-indent: 20px; }
.profileSetting .noIcons input {
  text-indent: 0px; }

.wishListLeft {
  width: 168px;
  margin-right: 5px; }
  .wishListLeft span {
    padding: 6px 10px;
    width: 100%;
    display: block;
    background: #6a6a6a;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300; }
  .wishListLeft .wishListTabItems {
    list-style: none;
    padding: 0;
    margin: 0; }
    .wishListLeft .wishListTabItems li {
      display: block;
      padding: 6px 10px;
      background: #ebebeb;
      text-align: center;
      border: 1px solid #ebebeb;
      font-weight: 300;
      font-size: 15px;
      margin-bottom: 5px;
      text-transform: uppercase; }
      .wishListLeft .wishListTabItems li.activeTabItem {
        border: 1px solid #6a6a6a; }

.wishListRight {
  width: 100%; }
  .wishListRight span img {
    width: 20px; }
  .wishListRight .tripIdItems {
    list-style: none;
    padding: 0;
    margin: 0; }
    .wishListRight .tripIdItems li {
      display: inline-block;
      padding: 5px 10px;
      width: 85px;
      font-size: 15px;
      background: #ebebeb;
      text-align: center;
      border: 1px solid #ebebeb; }
      .wishListRight .tripIdItems li.activeItem {
        border: 1px solid #6a6a6a; }
  .wishListRight .wishListLeftInfo {
    border: 1px solid #6a6a6a;
    width: 49%;
    margin-right: 5px;
    padding: 10px;
    position: relative; }
    .wishListRight .wishListLeftInfo .refreshIcon {
      position: absolute;
      top: 10px;
      right: 10px; }
      .wishListRight .wishListLeftInfo .refreshIcon img {
        width: 18px; }
    .wishListRight .wishListLeftInfo .borderBottom {
      border-bottom: 1px dashed #6a6a6a; }
    .wishListRight .wishListLeftInfo .flightDetails {
      padding: 5px 8px 10px 8px;
      text-align: center; }
      .wishListRight .wishListLeftInfo .flightDetails h6 {
        font-weight: 200;
        color: #464646;
        margin: 0;
        font-size: 14px; }
      .wishListRight .wishListLeftInfo .flightDetails p {
        font-weight: normal;
        font-size: 12px; }
        .wishListRight .wishListLeftInfo .flightDetails p img {
          width: 35px;
          margin: auto; }
      .wishListRight .wishListLeftInfo .flightDetails ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .wishListRight .wishListLeftInfo .flightDetails ul li {
          display: inline-table;
          vertical-align: middle; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .flightIcon {
            display: block;
            margin-bottom: 20px;
            width: 24px; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .clockIcon {
            display: block;
            width: 20px; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .flightDate {
            display: block;
            /* vertical-align: middle; */
            font-size: 15px;
            font-weight: 300; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .flighTime {
            display: block;
            border: 1px solid #6a6a6a;
            width: 80px;
            padding: 6px;
            font-size: 14px; }
            .wishListRight .wishListLeftInfo .flightDetails ul li .flighTime p {
              font-size: 11px;
              line-height: 10px;
              margin: 0px; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .arrowDivied {
            width: 14px;
            margin-top: 20px; }
          .wishListRight .wishListLeftInfo .flightDetails ul li .flightRunTime {
            display: block;
            /* vertical-align: middle; */
            font-size: 17px;
            font-weight: 300; }
            .wishListRight .wishListLeftInfo .flightDetails ul li .flightRunTime p {
              display: inline-block;
              font-size: 11px;
              line-height: 10px;
              margin: 0px; }
    .wishListRight .wishListLeftInfo .roomLocInfo h4 {
      font-size: 18px;
      font-weight: 200;
      margin-top: 10px;
      color: #464646; }
      .wishListRight .wishListLeftInfo .roomLocInfo h4 img {
        width: 20px; }
    .wishListRight .wishListLeftInfo .roomLocInfo p {
      font-size: 12px;
      color: #464646;
      line-height: 14px; }
    .wishListRight .wishListLeftInfo .roomLocInfo h6 {
      font-size: 13px;
      font-weight: 100;
      color: #464646; }
      .wishListRight .wishListLeftInfo .roomLocInfo h6 img {
        width: 15px; }
    .wishListRight .wishListLeftInfo .roomLocInfo h5 {
      font-size: 15px;
      font-weight: 300; }
    .wishListRight .wishListLeftInfo .roomLocInfo span {
      font-size: 12px;
      color: #464646; }
    .wishListRight .wishListLeftInfo .roomTimeInfo {
      width: 100%;
      padding: 5px 0px; }
      .wishListRight .wishListLeftInfo .roomTimeInfo .roomImg {
        width: 45%;
        height: 150px;
        margin-right: 5px;
        display: block; }
        .wishListRight .wishListLeftInfo .roomTimeInfo .roomImg img {
          width: 100%;
          height: 130px;
          object-fit: contain; }
      .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet {
        width: 55%; }
        .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet span {
          font-size: 13px;
          font-weight: 300; }
        .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul {
          margin: 10px 0px 0px 0px;
          padding: 0;
          list-style: none; }
          .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul li {
            display: inline-table;
            padding: 3px 2px;
            text-align: center;
            vertical-align: middle; }
            .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul li.border {
              border: 1px solid #6a6a6a !important;
              width: 65px; }
            .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul li h5 {
              color: #464646;
              margin: 0;
              font-size: 13px;
              font-weight: 500; }
            .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul li p {
              font-size: 11px;
              text-transform: uppercase;
              color: #464646;
              margin-bottom: 0px; }
            .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet ul li img {
              width: 12px; }
        .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet .checkInOut {
          margin-top: 10px; }
          .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet .checkInOut li img {
            width: 21px;
            margin-right: 1px; }
          .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet .checkInOut li span {
            font-size: 11px;
            display: inline-table;
            vertical-align: middle; }
            .wishListRight .wishListLeftInfo .roomTimeInfo .roomStayDet .checkInOut li span b {
              display: block; }
    .wishListRight .wishListLeftInfo .carInfo {
      width: 100%; }
      .wishListRight .wishListLeftInfo .carInfo h4 {
        font-size: 18px;
        font-weight: 200;
        margin-top: 10px;
        color: #464646; }
        .wishListRight .wishListLeftInfo .carInfo h4 img {
          width: 20px; }
      .wishListRight .wishListLeftInfo .carInfo h6 {
        font-size: 13px;
        font-weight: 100;
        color: #464646; }
        .wishListRight .wishListLeftInfo .carInfo h6 img {
          width: 15px; }
      .wishListRight .wishListLeftInfo .carInfo .carInfraStru {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #6a6a6a; }
        .wishListRight .wishListLeftInfo .carInfo .carInfraStru li {
          display: inline-block;
          padding: 10px 15px;
          color: #464646;
          font-size: 14px; }
          .wishListRight .wishListLeftInfo .carInfo .carInfraStru li img {
            width: 15px; }
          .wishListRight .wishListLeftInfo .carInfo .carInfraStru li:nth-child(2) img {
            width: 20px; }
          .wishListRight .wishListLeftInfo .carInfo .carInfraStru li:nth-child(3) img {
            width: 12px; }
      .wishListRight .wishListLeftInfo .carInfo .pickupDropDet {
        list-style: none;
        margin: 0;
        padding: 0; }
        .wishListRight .wishListLeftInfo .carInfo .pickupDropDet li {
          padding: 10px;
          display: inline-block; }
          .wishListRight .wishListLeftInfo .carInfo .pickupDropDet li h6 {
            font-size: 14px;
            font-weight: 300;
            margin: 0px; }
          .wishListRight .wishListLeftInfo .carInfo .pickupDropDet li p {
            font-size: 12px;
            margin: 0px; }
    .wishListRight .wishListLeftInfo .carTimeInfo {
      width: 100%;
      padding: 5px 0px; }
      .wishListRight .wishListLeftInfo .carTimeInfo .borderRightDash {
        border-right: 1px dashed #6a6a6a;
        padding-right: 5px; }
      .wishListRight .wishListLeftInfo .carTimeInfo .carImg {
        width: 45%;
        min-height: 125px;
        margin-right: 5px;
        display: block; }
        .wishListRight .wishListLeftInfo .carTimeInfo .carImg img {
          width: 100%;
          height: 130px;
          object-fit: contain; }
      .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet {
        width: 55%; }
        .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet span {
          font-size: 13px;
          font-weight: 300; }
        .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul {
          margin: 10px 0px 0px 0px;
          padding: 0;
          list-style: none; }
          .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul li {
            display: inline-table;
            padding: 3px 2px;
            text-align: center;
            vertical-align: middle; }
            .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul li.border {
              border: 1px solid #6a6a6a !important;
              width: 65px; }
            .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul li h5 {
              color: #464646;
              margin: 0;
              font-size: 13px;
              font-weight: 500; }
            .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul li p {
              font-size: 11px;
              text-transform: uppercase;
              color: #464646;
              margin-bottom: 0px; }
            .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet ul li img {
              width: 12px; }
        .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet .checkInOut {
          margin-top: 10px; }
          .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet .checkInOut li img {
            width: 21px;
            margin-right: 1px; }
          .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet .checkInOut li span {
            font-size: 11px;
            display: inline-table;
            vertical-align: middle; }
            .wishListRight .wishListLeftInfo .carTimeInfo .carStayDet .checkInOut li span b {
              display: block; }
  .wishListRight .wishListRightInfo {
    width: 50%; }
    .wishListRight .wishListRightInfo .totalAmountDis {
      border: 1px solid #6a6a6a !important;
      padding: 5px; }
      .wishListRight .wishListRightInfo .totalAmountDis li {
        text-align: left;
        width: 100%;
        display: inline-flex;
        padding: 6px;
        justify-content: space-between; }
        .wishListRight .wishListRightInfo .totalAmountDis li span {
          font-size: 13px; }
        .wishListRight .wishListRightInfo .totalAmountDis li:last-child {
          border-top: 1px dashed #6a6a6a; }
          .wishListRight .wishListRightInfo .totalAmountDis li:last-child span {
            font-size: 14px;
            font-weight: 300;
            color: #464646; }
    .wishListRight .wishListRightInfo .nameYourPrice {
      background: #ebebeb;
      padding: 2px;
      width: 100%; }
      .wishListRight .wishListRightInfo .nameYourPrice span {
        font-size: 15px;
        width: 50%;
        padding: 3px;
        font-weight: 300; }
      .wishListRight .wishListRightInfo .nameYourPrice .nameInput {
        width: 50%;
        position: relative; }
        .wishListRight .wishListRightInfo .nameYourPrice .nameInput input {
          width: 100%;
          border: none;
          padding: 4px;
          font-size: 13px; }
        .wishListRight .wishListRightInfo .nameYourPrice .nameInput .priceArrBtn {
          position: absolute;
          top: 0;
          right: 0;
          padding: 2px;
          background: #6a6a6a;
          width: 31px;
          display: block;
          outline: none;
          border: none; }
          .wishListRight .wishListRightInfo .nameYourPrice .nameInput .priceArrBtn img {
            width: 15px; }

.search-room {
  padding: 5px 10px;
  height: 35px;
  margin-left: -2px;
  cursor: pointer; }

.landing-page {
  background: #f8f8f8; }

.slider-image {
  background-image: url(../images/slider1.png);
  background-size: cover;
  object-fit: contain; }

.slide-text {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 190px;
  margin-bottom: 190px;
  padding: 46px 60px 60px 46px;
  color: #ffffff; }
  .slide-text h1 {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    text-align: center; }
  .slide-text p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; }
    .slide-text p span {
      color: #fec637;
      font-weight: bold; }
  .slide-text button {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    background: #fec637;
    border: none;
    font-family: 'Open Sans',sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600; }

.xeniapp-feature h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200; }

.feature-list p {
  margin-left: 22px;
  margin-top: 25px;
  font-weight: 600;
  border-bottom: 1px dashed;
  padding-bottom: 10px; }

.feature-para p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: justify;
  padding-top: 15px; }

.change-way {
  background: #ffffff; }

.change-way img {
  padding: 60px 0px 60px 0px;
  width: 350px; }

.copy-right {
  text-align: center;
  background: #464646;
  color: #ffffff; }
  .copy-right p {
    padding: 25px 0px 15px 0px;
    font-size: 15px;
    letter-spacing: 0.2px; }

.sele-width {
  width: 140px;
  height: 40px; }

.age-box {
  border: 1px solid #6a6a6a;
  border-left: 0;
  padding: 10px 15px;
  width: 100%; }
  .age-box.borLeft {
    border-left: 1px solid #6a6a6a; }

.Toastify__toast-container {
  position: absolute !important; }

/*# sourceMappingURL=style.css.map */
