/* STO style for loader */
#loader {
  position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:128px;
    height:128px;
    z-index: 10;
    margin: auto;
    /* margin: -26px 0 0 -170px; */
    /* border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #34dbcb;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; */
    opacity: 1;
    filter: Alpha(opacity=50);
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }

  .loaderBg{position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(245, 241, 241, 0.6);
    width: 100%;
    height: 100%;
    z-index: 999;}
/* ENO style for loader */

.sectionCard .loaderbg1{
  position: absolute;
  bottom: -15px;
  background: rgba(245, 241, 241, 0.6);
  width: 100%;
  height: 32px;
  z-index: 5;
}
.sectionCard .loaderbg1 #loader{
position: absolute;
    left: 45%;
    top: 12%;
    z-index: 10;
    margin: auto;
    border: 1px solid #f3f3f3;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #34dbcb;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 1;
    filter: Alpha(opacity=50);
}
.filterResult{
  position: relative;
}


